/_ReSharper.Typo3ExtensionGenerator
/Typo3ExtensionGenerator/obj
/Typo3ExtensionGenerator/bin
/Typo3ExtensionGenerator/*.user
/*.suo
/*.user
/StringLib/bin
/StringLib/obj
packages
/Tests/obj
/Tests/bin
