/_ReSharper.Typo3ExtensionGenerator
/Typo3ExtensionGenerator/obj
/Typo3ExtensionGenerator/bin
/Typo3ExtensionGenerator/*.user
/*.suo
/*.user
/StringLib/bin
/StringLib/obj
packages
/Tests/obj
/Tests/bin


Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/